أجب عن السؤال التالي باستخدام المعلومات الواردة في السياق أدناه فقط.
لا تستخدم أي معلومات خارجية.
إذا كان السياق لا يحتوي على المعلومات اللازمة، فرد بقول:
”أنا آسف، لكن السياق المقدم لا يحتوي على معلومات كافية للإجابة على هذا السؤال.“


السياق:
{{context}}


السؤال:
{{question}}


الإجابة:
