Answer the following question using only the information provided in the context below.
Do NOT use any outside knowledge.
If the context does not contain the necessary information, respond with:
"I'm sorry, but the provided context does not contain enough information to answer this question."


Context:
{{context}}


Question:
{{question}}


Answer:
